<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"> 
        <form action="/atualizaProduto" method="POST" data-form>
            <input type="text" data-id name="_id">
            
            <label for="id">ID </label>
            <input type="text" placeholder="ID" name="id" data-nome>
            
            <label for="função">Função </label>
            <input type="text" placeholder="Função" name="funcao" placheholder="nome" data-funcao>
            
            <label for="paciente">Paciente </label>
            <input type="text" placeholder="Paciente" name="paciente" data-paciente>
            
            <label for="validade">Validade </label>
            <input type="text" placeholder="Validade" name="validade" data-validade>
            
            <label for="quant">Quantidade </label>
            <input type="text" placeholder="Quantidade" name="quant" data-quantidade>

            <button type="submit"> Cadastrar </button>
        </form>
    </div>

    <script type="module" src="src/atualizar.js"></script>
</body>
</html>